src/main/mule/a89971_event_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8164c188-5a15-4563-8992-ae32763b6ddf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="166ff15f-111b-4bdd-9e76-0b982717f579" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345678" database="event_api" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="0512ad5d-8890-412e-a725-a9488db308bd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345678" database="event_api" />
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="eaaf2c91-f063-438f-ad7d-d4c26ed99e6d" >
		<email:smtp-connection host="smtp.office365.com" port="587" user="a89971@ualg.pt" password="04#6K5" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="a89971_event_apiFlow" doc:id="dd3d8871-41f6-4645-8def-783343590d34" >
		<http:listener doc:name="Listener" doc:id="e3f47f65-da97-41a7-83d9-cec7dbe587b7" config-ref="HTTP_Listener_config" path="/api"/>
		<db:insert doc:name="Insert" doc:id="bcab6c5e-b8c1-4290-a5c7-86b75ebc0532" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO clientes (nome, idade, telemovel) VALUES (:nome, :idade, :telemovel)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    "nome": payload.nome,
    "idade": payload.idade,
    "telemovel":  payload.telemovel
}]]]></db:input-parameters>
		</db:insert>
	</flow>
	<flow name="a89971_on_update" doc:id="848e8cb0-0326-46ad-86fe-3f0ba4adf90a" >
		<db:listener doc:name="On Table Row" doc:id="661cb167-91d9-4151-bb85-1d3047050e7f" config-ref="Database_Config1" table="clientes">
			<scheduling-strategy >
				<fixed-frequency/>
			</scheduling-strategy>
		</db:listener>
		<email:send doc:name="Send" doc:id="dd035e6d-3778-4cb4-8d2c-a5240146f607" config-ref="Email_SMTP" fromAddress="a89971@ualg.pt" subject="Notificação">
			<email:to-addresses >
				<email:to-address value="a89971@ualg.pt" />
			</email:to-addresses>
			<email:body contentType="text/plain" >
				<email:content ><![CDATA[#["Notificação da alteração na BD"]]]></email:content>
			</email:body>
		</email:send>
	</flow>
</mule>
